<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nordforth form</title>
    <link href="/assets/form.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <center>
      <h1>NORDFORTH&nbsp; FORM</h1>
      <form class="" action="" method="post">
        First Name:<input type="text" name="firstn" value="" placeholder="Enter your first name"><br>
        Last Name:<input type="text" name="lastn" value="" placeholder="Enter your last name"><br>
        Email ID:<input type="email" name="email" value="" placeholder="Enter your email address"><br>
        Phone no.:<input type="text" name="phone" value="" maxlength="10" placeholder="Enter your phone no."><br>
        <input type="submit" name="sub" value="Submit Details">
      </form>
    </center>
  </body>
</html>
